@import url("https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Smooch&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  overflow-x: hidden;
  width: 100%;
  height: auto;
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 70px 0px;
  width: 95%;
  max-width: 1300px;
  margin: 0 auto;
}

.section-container {
  background-color: #fff;
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 70px 0px;
  width: 95%;
  max-width: 1300px;
  margin: 0 auto;
}

.header-container {
  position: sticky;
  top: 0%;
  z-index: 9999;
}

.header {
  margin: 0 auto;
  max-width: 1300px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 80px 0px 50px;
}

.rekaLogo {
  width: 17rem;
  box-sizing: border-box;
  cursor: pointer;
  background-position: left;
  margin: 1.3rem 1rem;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-list {
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  gap: 50px;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 20px;
  font-weight: 550;
}


.navbar i {
  font-size: 80px;
  color: black;
  cursor: pointer;
  display: none;
}

#toggle-menu {
  display: none;
}

.navbar a {
  color: black !important;
  font-size: 19px !important;
  text-decoration: wavy;
}

.navbar-list li:last-child>a {
  border: 0.2px solid black !important;
  font-size: 14px !important;
  padding: 8px 40px !important;
  border-radius: 3px !important;
  transition: all 0.3s linear !important;
}

.navbar-list li:last-child>a:hover {
  background-color: rgba(251, 128, 132, 0.23);
  color: rgba(0, 0, 0, 0.649);
  transition: all 0.3s linear;
  font-weight: 600;
}

@media (max-width: 992px) {
  .header {
    padding: 0px 50px 0px 10px;
  }

  .navbar i {
    display: flex;
  }

  .navbar-list {
    position: fixed;
    background-color: #fb8084ad;
    flex-direction: column;
    top: 100px;
    right: 0;
    width: 100%;
    height: calc(100vh - 100px);
    z-index: 9999;
    display: none;
  }

  #toggle-menu:checked+.navbar-list {
    display: flex;
  }
}

.pictures {
  width: 100%;
  height: 500px;
  margin: 20px 0px 20px 0px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
}

.picture1 {
  background-image: url(https://images.unsplash.com/photo-1547949003-9792a18a2601?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-right: 2px;
}

.picture2 {
  background-image: url(https://images.unsplash.com/photo-1597633125184-9fd7e54f0ff7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=435&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-right: 2px;
}

.picture3 {
  background-image: url(https://images.unsplash.com/photo-1597633125097-5a9961e1f03d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=465&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-right: 2px;
}

.picture4 {
  background-image: url(https://images.unsplash.com/photo-1602090573683-68c6f9228ed7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-right: 2px;
}

.picture1:hover {
  transform: scaleX(1.1);
  transition: 1s;
  cursor: pointer;
}

.picture2:hover,
.picture3:hover {
  transform: scaleX(1.2);
  transition: 1s;
  cursor: pointer;
}

.picture4:hover {
  transform: scaleX(1.1);
  transition: 1s;
  cursor: pointer;
}

a,
li {
  text-decoration: none !important;
  list-style: none !important;
  font-size: 17.1px !important;
}

footer {
  font-family: 'Roboto Condensed', sans-serif;
  display: flex;
  justify-content: space-evenly;
  margin: 10px 0;
  width: 100%;
  background: linear-gradient(135deg, #e3e3e380 0%, #5d687400 100%);
}

Iframe {
  height: 100%;
  width: 100%;
  border-style: 0;
  display: flex;
  flex-direction: initial;
}

.icons-container {
  display: flex;
  flex-direction: column;
  margin-top: 22px;
}

.icons {
  align-self: center;
}

.bx {
  font-size: 60px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  overflow-x: hidden;
  width: 100%;
  height: auto;
}

h5 {
  font-size: 2.30rem !important;
  font-family: "IM Fell French Canon", serif;
  color: rgba(0, 0, 0, 0.808) !important;
  display: flex;
  justify-content: center;
  margin: 20px 50px 20px 50px;
  cursor: pointer;
}

h2 {
  font-family: "IM Fell French Canon", serif;
  color: rgba(0, 0, 0, 0.649);
}

.parrafo21 {
  display: flex;
  font-size: 1.3rem;
  color: rgba(0, 0, 0, 0.649);
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: -webkit-center;
}

#carouselExampleControls {
  display: flex;
  text-align: -webkit-center;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #596fb226;
}

#w-50 {
  height: 74vh;
}

section .catalogoProductos {
  width: 100%;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.productosCarteras:hover {
  transform: scaleX(1.1);
  transition: 1s;
  cursor: pointer;
}


.rk {
  width: 20rem;
  height: 16rem;
  margin: 3rem 1rem;
  cursor: pointer;
  object-fit: cover;
  object-position: center;
}

.rek {
  width: 20rem;
  height: 16rem;
  margin: auto;
  cursor: pointer;
}

.btn-container {
  display: flex;
  justify-content: center;
}

.btn-negro {
  background-color: #fff;
  text-decoration: none;
  color: #111;
  font-size: 1rem;
  font-weight: 400;
  cursor: pointer;
  padding: 8px 20px;
  margin: 0 0 15px 0;
  border-width: 1px;
  border-style: solid;
  border-color: black;
}

.btn-negro:hover {
  color: #fff;
  background-color: rgba(17, 17, 17, 0.847);
}

.paloma {
  font-family: 'Roboto Condensed', sans-serif;
  color: rgba(0, 0, 0, 0.649);
  font-size: 20px;
  font-weight: 600;
  justify-content: center;
  display: flex;
  cursor: pointer;
}


.card-clients {
  border-radius: 45px;
  width: 17rem;
  height: 15.8rem;
  background: linear-gradient(135deg, #E3E3E3 0%, #5d68743a 100%);
  margin: 10px 10px 30px 10px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-clients .pp {
  font-size: .9rem;
  color: #1a0c0c9d;
  text-align: center;
  justify-content: center;
  text-align-last: center;
}

.img-container {
  border-radius: 100px;
  width: 5rem;
  height: 5rem;
  object-fit: cover;
  margin-left: .5rem;
  margin-top: .5rem;
}

.container-clients {
  flex-direction: initial;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  font-family: Arial, Helvetica, sans-serif;
  color: #1a0c0c9d;
  font-size: 1em;
  margin: 1%;
  padding: 1%;
}

form label,
form p {
  color: rgba(34, 34, 34, 0.664);
  margin: -3px 4px 5px 5px;
  display: revert;
}

.newsletter {
  margin-top: 10px;
}

.button {
  margin: 16px 28px 16px 1px;
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  z-index: 0;
  background: #fff;
  overflow: hidden;
  border: 2px solid #f8717196;
  color: #f87171;
}

.button:hover {
  color: #f871717b;
}

.button:hover:after {
  height: 100%;
}

.button:after {
  content: "";
  z-index: -1;
  transition: all 0.3s ease;
  left: 0;
  top: 0;
  height: 0;
  width: 100%;
  background: #ff0a78;
}

.input-form {
  margin: 10px 10px 10px 2px;
  font-size: medium;
}

.input-form2 {
  margin: 2px 1px 10px 0px;
  font-size: medium;
}

.localidadContacto {
  margin: 9px 2px 10px 3px;
}

fieldset {
  background-color: rgba(247, 246, 250, 0.621);
  padding: 1rem 3rem;
  border-radius: 10px;
  border: none;
}

legend {
  background-color: #fb80859c;
  color: #fff;
  padding: 5px 10px;
  justify-content: center;
}

.registro {
  display: grid;
  justify-content: flex-start;
}

.fa-brands fa-instagram {
  height: 10rem;
  width: 10rem;
}

h3 {
  font-family: 'IM Fell French Canon', serif;
  color: rgba(0, 0, 0, 0.808);
  margin: 1% 1%;
  padding: 1%;
  font-size: 2em;
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 820px) and (min-width: 621px) {
  footer {
    display: flex;
    flex-direction: column;
  }

  .parrafo21 {
    margin: 10px 20px 10px 20px;
    margin: 10px 33px 26px 33px;
    display: flex;
    text-align: -webkit-center;
  }

  .atencion {
    margin: 10px 20px 10px 20px;
    margin: 10px 33px 26px 33px;
  }
}

.card-clients {
  height: 18rem;
}

@media only screen and (max-width: 620px) and (min-width: 501px) {
  footer {
    display: flex;
    flex-direction: column;
  }

  .parrafo21 {
    margin: 10px 20px 10px 20px;
    margin: 10px 33px 26px 33px;
    display: flex;
    text-align: -webkit-center;
  }

  .atencion {
    margin: 10px 20px 10px 20px;
    margin: 10px 33px 26px 33px;
  }

  .card-clients {
    height: 20rem;
  }

  .container-clients {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .card-clients {
    height: 17rem;
  }

  #w-50 {
    width: 100% !important;
    height: 80%;
  }

  .pictures {
    display: grid;
    grid-template-columns: auto;
    height: 2000px;
    width: 100vw;
    object-fit: cover;
  }
}

@media only screen and (max-width: 500px) and (min-width: 236px) {
  section .catalogoProductos {
    padding: 10px 10px 10px 10px;
  }

  footer {
    display: flex;
    flex-direction: column;
  }

  .parrafo21 {
    margin: 10px 20px 10px 20px;
    margin: 10px 33px 26px 33px;
    display: flex;
    text-align: -webkit-center;
  }

  .atencion {
    margin: 10px 20px 10px 20px;
    margin: 10px 33px 26px 33px;
  }

  .logo-img {
    width: 100%;
    height: auto;
  }

  .container-clients {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .span {
    color: black;
  }

  .body {
    width: 94vw;
  }

  #w-50 {
    width: 100% !important;
    height: 80%;
  }

  .pictures {
    display: grid;
    grid-template-columns: auto;
    height: 1554px;
    width: 331px;
    margin: auto;
  }

}