@import url('https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Smooch&display=swap');
$font: 'IM Fell French Canon', serif;
$twoFont: Arial, Helvetica, sans-serif;
$threeFont: 'Smooch', cursive;
 

