
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  overflow-x: hidden;
  width: 100%;
  height: auto;
}

.section {
  @include flexbox (center, center);
  padding: 70px 0px;
  width: 95%;
  max-width: 1300px;
  margin: 0 auto;
}

.section-container {
  background-color: $white;
}

.section {
 
  @include flexbox(center, center);
  padding: 70px 0px;
  width: 95%;
  max-width: 1300px;
  margin: 0 auto;
}

.header-container {
  position: sticky;
  top: 0%;
  z-index: 9999;
}

.header {
  margin: 0 auto;
  max-width: 1300px;
  height: 100px;
  @include flexbox(space-between, center);
  padding: 0px 80px 0px 50px;
}

.rekaLogo {
  width: 17rem;
  box-sizing: border-box;
  cursor: pointer;
  background-position: left;
  margin: 1.3rem 2rem;
}
.navbar {
  @include flexbox(center, center);
}

.navbar-list {
  @include flexbox (center,center);
  gap: 50px;
  font-family: $twoFont;
}

.navbar i {
  font-size: 80px;
  color: black;
  cursor: pointer;
  display: none;
}

#toggle-menu {
  display: none;
}

.navbar a {
  color: black !important;
  font-size: 15px !important;
}

.navbar-list li:last-child>a {
  border: 0.2px solid black !important;
  font-size: 14px !important;
  padding: 8px 40px !important;
  border-radius: 3px !important;
  transition: all 0.3s linear !important;

  &:hover {
    background-color: $pink-Roseto;
    color: $black;
    transition: all 0.3s linear;
    font-weight: 600;
  }
}

@media (max-width: 992px) {
  .header {
    padding: 0px 50px 0px 10px;
  }

  .navbar i {
    display: flex;
  }

  .navbar-list {
    position: fixed;
    background-color: $navMedia;
    flex-direction: column;
    top: 100px;
    right: 0;
    width: 100%;
    height: calc(100vh - 100px);
    z-index: 9999;
    display: none;
  }

  #toggle-menu:checked+.navbar-list {
    display: flex;
  }


.pictures {
  width: 100%;
  height: 500px;
  margin: 20px 0px 20px 0px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
}

.picture1 {
  background-image: url(https://images.unsplash.com/photo-1547949003-9792a18a2601?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-right: 2px;
}

.picture2 {
  background-image: url(https://images.unsplash.com/photo-1597633125184-9fd7e54f0ff7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=435&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-right: 2px;
}

.picture3 {
  background-image: url(https://images.unsplash.com/photo-1597633125097-5a9961e1f03d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=465&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-right: 2px;
}

.picture4 {
  background-image: url(https://images.unsplash.com/photo-1602090573683-68c6f9228ed7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-right: 2px;
}

.picture1:hover {
  transform: scaleX(1.1);
  transition: 1s;
  cursor: pointer;
}

.picture2:hover,
.picture3:hover {
  transform: scaleX(1.2);
  transition: 1s;
  cursor: pointer;
}

.picture4:hover {
  transform: scaleX(1.1);
  transition: 1s;
  cursor: pointer;
} }
a,
li {
  text-decoration: none !important;
  list-style: none !important;
  font-size: 17.1px !important;
}