$pink-Rosa: #f871717b;
$pink-Rosita: #dd5579;
$pink-Roseto: rgba(251, 128, 132, 0.639);
$black: rgba(0, 0, 0, 0.649);
$blackTwo: #1a0c0c9d;
$gradient-Rosa: (
    315deg,
    #f9c1b105 0%,
    #fb80854d 74%
);
$next-Icon:  #596fb2b3;
$green: rgba(247, 246, 250, 0.621);
$hover: #f8717137;
$white: #fff;
$buttonPink: #f8717196;
$hoverButton:#f871717b;
$legend: #fb80859c;
$navMedia: #fb8084de;

$mapaDeColores:(
    $hover: #f8717137,
$white: #fff,
$buttonPink: #f8717196,
$hoverButton:#f871717b,
$legend: #fb80859c,
$navMedia: #fb8084de,
)